.main_information {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #c6c7c6;
}
.poster {
  width: 200px;
  margin-left: 10px;
  margin-right: 10px;
  object-fit: contain;
}
.genre:not(:first-child) {
  margin-left: 15px;
}
